[user]
	email = ana.mujic036@gmail.com
	name = Ana Mujić
[init]
	defaultBranch = master
[pull]
	ff = only
[push]
	default = simple
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[rerere]
	enabled = true
[column]
	ui = auto
[branch]
	sort = -committerdate
